Package: tails-clone-persistent
Version: 0.1.0-alpha1-11
Section: main
Priority: extra
Architecture: i386
Depends: perl, libfile-homedir-perl, libdatetime-perl, libgtk2-perl, libexpect-perl
Breaks: frith (<< 0.0.48)
Replaces: frith (<< 0.0.48)
Maintainer: andrewg@andrewg.com
Description: Tails persistent volume cloner
  A simple tool to clone the live Tails persistent volume to another (new or 
  pre-existing) Tails persistent volume.
